@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px !important;
}

h3 {
    font-size: 25px !important;
}

h4 {
    font-size: 20px !important;
}

a {
    text-decoration: none !important;
}

#topHeader a {
    color: #fff;
}

#topHeader {
    background-color: #473691;
    line-height: 24px !important;
}

#footer a,
#content a {
    color: #393939;
}

#footer .bi {
    font-size: 28px;
    color: #473691;
}

#footer .bi:hover,
#content .bi:hover {
    color: #17a2b8;
    transition: .5s;
}

#footer {
    line-height: 16px;
}

#bottomFooter {
    background-color: #473691;
    line-height: 24px !important;
}

#iletisimBanner {
    background-image: url(../img/iletisim-1200x400.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.py-15 {
    padding-top: 150px;
    padding-bottom: 150px;
}

#iletisimInfo i {
    font-size: 34px;
    color: #473691;
}

#iletisimInfo a {
    color: #473691;
}

#iletisimInfo .bi:hover,
#content .bi:hover {
    color: #17a2b8;
    transition: .5s;
}

#hakkimizdaBanner {
    background-image: url(../img/hakkimizda-1200x600.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#referansBanner {
    background-image: url(../img/referans-1200x675.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#asistansBanner {
    background-image: url(../img/asistans-banner-1200x795.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#egitimBanner {
    background-image: url(../img/egitim-banner-1200x800.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#danismanlikBanner {
    background-image: url(../img/danismanlik-banner-1200x800.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#kvkkBanner {
    background-image: url(../img/kvkk-banner-1200x800.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (max-width:768px) {
    #topHeader .col-md-6:nth-child(2) {
        text-align: center !important;
    }
    #topHeader {
        text-align: center !important;
    }
    #bottomFooter .col-md-6:nth-child(2) {
        text-align: center !important;
    }
    #bottomFooter {
        text-align: center !important;
    }
    #projeler1 .col-md-6:nth-child(2),
    #projeler1 .col-md-6:nth-child(4) {
        margin-top: 20px !important;
    }
    #projeler2 .col-md-6:nth-child(2),
    #projeler2 .col-md-6:nth-child(4) {
        margin-top: 20px !important;
    }
}